:root {
    --principal: #d9d2d0;
    --secondary: #012340;
    --thirdly: #59443f;

    --font-primary: 'Petrona', serif;
    --font-secondary: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* las medidas relativas igual a 10px=1em/rem */
}

ul {
    list-style: none;
}

body {
    background-color: var(--principal);
    min-height: 100vh;
    /* display: flex;
    flex-direction: column; */

    /* volverlo a display flex*/
    /* Grid para la distribucion del body */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-template-areas:
        "pepe"
        "juan"
        "rosa";

}

/*El h1 es para todos */
h1 {
    font-family: var(--font-secondary);
    color: var(--secondary);
    font-weight: 200;
    font-size: 2em;
    text-align: center;
    margin: 2em auto auto auto;
}

/* Desktop */

/* HEADER */
/* Se repite en todas las paginas */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    grid-area: pepe;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#logo {
    height: auto;
    width: 40em;
    display: block;
    margin: 12em auto 0em auto;
}

#menu {
    background-color: var(--thirdly);
    padding: 1.4em;
    width: 50vw;
    margin: 1.5em auto 0em auto;
}

#menu ul li a {
    margin: 0em .5em 0em .5em;
    color: #d9d2d08a;
    text-decoration: none;
    font-family: var(--font-primary);
    font-weight: 200;
    font-size: 1.9em;
    font-style: normal;
    transition: .8s;
}

#menu ul li a:hover {
    text-decoration: underline;
    color: var(--principal);
}

#menu nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main {
    margin: auto;
    max-width: 1300px;
    grid-area: juan;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}


/* HEADER */

/*  HOME  */

.muestras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    max-width: 100%;
}

.muestras>article {
    margin: 0 1em;
}

.muestra__imagen {
    height: 25em;
    width: auto;
}

.muestras figcaption {
    color: var(--secondary);
    font-family: var(--font-primary);
    font-weight: 200;
    font-size: 1.2em;
    margin: .4em 0em 0em 0em;
}

.desarrollo {
    margin: auto;
    max-width: 100em;
}

.desarrollo h2 {
    /* Tambien aplica en el archivo acerca*/
    color: var(--thirdly);
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 1.8em;
    text-align: left;
    margin: 1em auto 1em 2em;
}

.desarrollo p {
    /* Tambien aplica en el archivo acerca*/
    color: var(--secondary);
    font-family: var(--font-primary);
    font-weight: 300;
    font-size: 1.4em;
    font-style: italic;
    margin: auto 3em 2em 3em;
}

video {
    display: block;
    margin: 2em auto;
    opacity: 80%;
    padding: .2em;
    background-color: var(--thirdly);
}

/*  HOME  */


/*  GALERIA  */

/* Galeria con GRID */
.galeria__contenedor {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: repeat(6, 1fr); */
    grid-auto-rows: 150px;
    gap: 1em;
    padding: 0 10em 3em 10em;
    margin: auto;
}

.galeria__contenedor__item {
    overflow: hidden;
}

.galeria__contenedor__item--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 3s;
}

.galeria__contenedor__item--img:hover {
    transform: scale(200%);
    overflow: hidden;
}

.imagen1:hover {
    transform: scale(150%) translate(-20%, 0%);
}

.imagen6:hover {
    transform: scale(200%) translate(-5%, 0%);
}

.galeria__contenedor__item:nth-child(1) {
    grid-column-start: span 3;
    grid-row-start: span 2;
}

.galeria__contenedor__item:nth-child(2) {
    grid-column-start: span 3;
    grid-row-start: span 3;
}

.galeria__contenedor__item:nth-child(3) {
    grid-column-start: span 2;
    grid-row-start: span 3;
}

.galeria__contenedor__item:nth-child(5) {
    grid-column-start: span 4;
    grid-row-start: span 2;
}

.galeria__contenedor__item:nth-child(6) {
    grid-column-start: span 2;
    grid-row-start: span 1;
}

.galeria__contenedor__item:nth-child(9) {
    grid-column-end: span 2;
    grid-row-end: span 1;
}

/*  GALERIA  */


/*  ACERCA */

.contenedor_about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto 1em auto;
}

#imagen_perfil img {
    width: 25em;
    display: block;
    opacity: 70%;
    background-color: var(--secondary);
    padding: .2em;
}

/*  ACERCA  */


/*  TRABAJOS  */
.muestras__trabajos {
    margin: 0 0 4em 0;
}

.muestras__trabajos>article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.muestras__trabajos__imagenes {
    overflow: hidden;
}

.serieSueños,
.serieEstructuras {
    width: 40em;
    height: 25em;
}

.seriePlantas {
    width: 40em;
    height: 60em;
}

.muestras__trabajos__imagenes>img {
    width: 40em;
    opacity: 80%;
    filter: blur(1px);
    transition: 2.8s;
}

.muestras__trabajos__imagenes>img:hover {
    opacity: 100%;
    filter: blur(0);
    transform: scale(1.5);
}

.muestras__trabajos__textos {
    display: block;
    margin: 0 auto 0 3em;
    max-width: 100em;
}


.muestras__trabajos__textos>h2 {
    color: var(--thirdly);
    font-family: var(--font-secondary);
    font-weight: 200;
    font-size: 1.8em;
}

.muestras__trabajos__textos>p {
    color: var(--secondary);
    font-family: var(--font-primary);
    font-size: 1.4em;
}

/*  TRABAJOS  */


/*  CONTACTO  */

.main_contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.main_contacto>h1 {
    display: block;
    width: 100%;
}

#formulario>label,
input {
    display: block;
    color: var(--secondary);
    font-family: var(--font-secondary);
    text-align: center;
    margin: .5em auto;
}

.muestrario figure {
    margin: .5em;
    width: 40em;
}

.muestrario_imagen {
    width: 100%;
}

/*  CONTACTO  */


/* FOOTER */
/* Se repite en todas las paginas */
footer {
    background-color: #a2a3a8;
    margin-bottom: 0vh;
    margin-top: auto;
    grid-area: rosa;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

footer ul {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80em;
    padding: .5em;
}

/* FOOTER */

/* Desktop */


/* Responsive a 1080px */
@media screen and (max-width: 1080px) {

    main {
        max-width: 1000px;
    }

    /*  HOME  */

    .muestras>article {
        margin: 0 .5em;
    }

    .muestra__imagen {
        height: 20em;
        width: auto;
    }

    .desarrollo {
        margin: auto;
        max-width: 80em;
    }

    video {
        width: 300px;
        height: auto;
    }

    /*  HOME  */

    /*  ACERCA */
    .contenedor_about {
        max-width: 900px;
    }

    #imagen_perfil img {
        width: 20em;
    }

    /*  ACERCA  */

    /*  TRABAJOS  */

    .serieSueños,
    .serieEstructuras {
        width: 30em;
        height: 20em;
    }

    .seriePlantas {
        width: 30em;
        height: 45em;
    }

    .muestras__trabajos__imagenes>img {
        width: 30em;
    }

    /*  TRABAJOS  */

    /*  CONTACTO  */
    .main_contacto {
        margin-bottom: 2em;
    }

    .main_contacto>h1 {
        margin-top: 0em;
    }

    /*  CONTACTO  */
}

/* Responsive a 1080px*/

/* Responsive a 930px */
@media screen and (max-width: 930px) {
    main {
        max-width: 850px;
    }

    /*  HOME  */
    .muestra__imagen {
        height: 15em;
        width: auto;
    }

    video {
        width: 500px;
    }

    /*  HOME  */

    /*  ACERCA */
    .contenedor_about {
        max-width: 780px;
    }

    #imagen_perfil img {
        width: 25em;
    }

    /*  ACERCA  */

    /*  TRABAJOS  */
    .muestras__trabajos>article {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .muestras__trabajos__imagenes {
        overflow: hidden;
        margin: 0 1em;
    }

    .serieSueños,
    .serieEstructuras {
        width: 30em;
        height: 20em;
    }

    .seriePlantas {
        width: 30em;
        height: 50em;
    }

    .muestras__trabajos__imagenes>img {
        width: 30em;
    }

    .muestras__trabajos__textos {
        max-width: 80em;
    }

    /*  TRABAJOS  */
}

/* Responsive a 930px */

/*Responsive a 768 */
@media screen and (max-width: 768px) {
    main {
        max-width: 700px;
    }

    /*  HOME  */
    .muestras {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: auto;
    }

    .muestra__imagen {
        height: 30em;
        width: auto;
    }

    video {
        width: 450px;
    }

    /*  HOME  */

    /*  GALERIA  */
    /* Galeria con GRID */
    .galeria__contenedor {
        min-height: auto;
        grid-auto-rows: 80px;
        gap: .5em;
        padding: 0em 10em 2em 10em;
    }

    .galeria__contenedor__item--img:hover {
        transform: scale(200%);
        overflow: hidden;
    }

    .imagen6:hover {
        transform: scale(250%);
    }

    /*  GALERIA  */

    /*  ACERCA */
    .contenedor_about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto 1em auto;
    }

    /*ACERCA*/

    /*  TRABAJOS  */
    .muestras__trabajos__imagenes {
        overflow: hidden;
        margin: 1em;
    }

    .serieSueños,
    .serieEstructuras {
        width: 20em;
        height: 13em;
    }

    .seriePlantas {
        width: 20em;
        height: 30em;
    }

    .muestras__trabajos__imagenes>img {
        width: 20em;
    }

    .muestras__trabajos__textos {
        max-width: 50em;
    }

    /*  TRABAJOS  */

    /*  CONTACTO  */
    .main_contacto {
        display: flex;
        flex-direction: column;
    }

    .muestrario figure {
        display: none;
    }

    /*  CONTACTO  */
}

/*Responsive a 768 */

/* Responsive a 480px*/
@media screen and (max-width: 480px) {
    main {
        max-width: 450px;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: block;
    }

    #logo {
        height: auto;
        width: 8em;
        display: block;
        margin: 1em;
    }

    .muestra__imagen {
        height: 25em;
        width: auto;
    }

    video {
        width: 310px;
    }

    h1 {
        margin-top: 1em;
    }

    /*  GALERIA  */

    /* Galeria con GRID */
    .galeria__contenedor {
        min-height: auto;
        grid-auto-rows: 80px;
        padding: 0em 2em 1em 2em;
    }

    .galeria__contenedor__item:nth-child(1) {
        grid-column-start: span 3;
        grid-row-start: span 2;
    }

    .galeria__contenedor__item:nth-child(2) {
        grid-column-start: span 3;
        grid-row-start: span 2;
    }

    .galeria__contenedor__item:nth-child(3) {
        grid-column-start: span 3;
        grid-row-start: span 2;
    }

    .galeria__contenedor__item:nth-child(4) {
        grid-column-start: span 3;
        grid-row-start: span 2;
    }

    .galeria__contenedor__item:nth-child(5) {
        grid-column-start: span 3;
        grid-row-start: span 2;
    }

    .galeria__contenedor__item:nth-child(6) {
        grid-column-start: span 3;
        grid-row-start: span 2;
    }

    .galeria__contenedor__item:nth-child(7) {
        grid-column-start: span 3;
        grid-row-start: span 2;
    }

    .galeria__contenedor__item:nth-child(8) {
        grid-column-start: span 3;
        grid-row-start: span 2;
    }

    .galeria__contenedor__item:nth-child(9) {
        grid-column-start: span 6;
        grid-row-start: span 2;
    }

    /*  GALERIA  */
    /*  ACERCA */
    .contenedor_about {
        max-width: 460px;
        margin: auto 3em;
    }

    /*  ACERCA  */

    /*  TRABAJOS  */
    .muestras__trabajos {
        margin: 0 0 4em 0;
    }

    .muestras__trabajos>article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .muestras__trabajos__imagenes {
        overflow: hidden;
        margin: .1em 1em;
    }

    .serieSueños,
    .serieEstructuras {
        width: 30em;
        height: 15em;
    }

    .seriePlantas {
        width: 30em;
        height: 40em;
    }

    .muestras__trabajos__imagenes>img {
        width: 30em;
    }

    .muestras__trabajos__textos {
        margin: auto;
        max-width: 40em;
    }

    /*  TRABAJOS  */

    /*  CONTACTO  */
    .main_contacto>h1 {
        display: block;
        width: 100%;
    }

    #formulario {
        margin: 2em auto;
    }

    #formulario>label,
    input {
        margin: .5em auto;
    }

    /*  CONTACTO  */

}

/* Responsive a 480px*/

/* Responsive a 320px */
@media screen and (max-width: 320px) {
    main {
        max-width: 310px;
    }

    .muestra__imagen {
        height: 20em;
        width: auto;
    }

    video {
        width: 310px;
    }

    /*  ACERCA */
    .contenedor_about {
        max-width: 300px;
        margin: auto;
    }

    /*  ACERCA  */
    /*  CONTACTO  */

    .main_contacto {
        display: flex;
        flex-direction: column;
    }

    #formulario>label,
    input {
        display: block;
        color: var(--secondary);
        font-family: var(--font-secondary);
        text-align: center;
        margin: .5em auto;
    }

    .muestrario figure {
        display: none;
    }

    /*  CONTACTO */

    /* TRABAJO */
    .muestras__trabajos__textos {
        margin: auto;
        max-width: 30em;
    }

    /* TRABAJO */
}

/* Responsive a 320px */